@model Proyecto_Final_Avanzada.Models.RegistroViewModel


<div class="row">
    <div class="col-4"></div>
    <div class="col-4 justify-content-center ">

        <br>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <legend class="text-center header text-danger">Registro</legend>

            <br>
            <div>
                @Html.EditorFor(model => model.cl_nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                @Html.ValidationMessageFor(model => model.cl_nombre, "", new { @class = "text-danger" })
            </div>
            <br>
            <div>
                @Html.EditorFor(model => model.cl_apellido1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Primer apellido" } })
                @Html.ValidationMessageFor(model => model.cl_apellido1, "", new { @class = "text-danger" })

            </div>
            <br>
            <div>
                @Html.EditorFor(model => model.cl_apellido2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Segundo apellido" } })
                @Html.ValidationMessageFor(model => model.cl_apellido2, "", new { @class = "text-danger" })
            </div>
            <br>
            <div>

                @Html.EditorFor(model => model.cl_telefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefono" } })
                @Html.ValidationMessageFor(model => model.cl_telefono, "", new { @class = "text-danger" })
            </div>
            <br>
            <div>
                @Html.EditorFor(model => model.cl_usuario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de usuario" } })
                @Html.ValidationMessageFor(model => model.cl_usuario, "", new { @class = "text-danger" })
            </div>
            <br>
            <div>
                @Html.EditorFor(model => model.cl_contrasena, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contrasena" } })
                @Html.ValidationMessageFor(model => model.cl_contrasena, "", new { @class = "text-danger" })
            </div>
            <br>

            <br>

            <br>



            <div class="form-group justify-content-center">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Create" class="btn btn-danger btn-lg" />
                </div>
            </div>

        }

    </div>


    <div class="col-4"></div>


