@model IEnumerable<Proyecto_Final_Avanzada.Models.pelicula>

@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <style>
        .peli {
            background-color: black;
            color: white;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }

        h1 {
            font-family: Times New Roman;
            text-align: center
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<h1>
    CARTELERA
</h1>
<body>


    @foreach (var item in Model)
    {

    <div class="peli">
        <h2>@item.pel_nombre</h2>
        <img src="~/Images/logo.png" width="250" height="200" />
        <p>@item.pel_detalle</p>
        <p>@item.pel_clasificacion</p>
        <a href="@Url.Action("Index", "Login")" class="btn btn-danger btn-lg">Comprar</a>
    </div>}

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>